<html>
  <head>
    <title> Le potin numéro : "#{gossip.id}">
  </head>

  <body>
    <h1>Le potin numéro <%= @gossip.id %></h1>
    <p>Auteur : <%= @gossip.author %></p>
    <p>Contenu : <%= @gossip.content %></p>
    <a href="/">Retour à la liste des potins</a>
  </body>
</html>
